# Ignore arquivos de compilação e arquivos gerados
bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.cache
*.log
*.vs/
*.bak
*.npm-debug.log

# Ignorar pacotes NuGet
*.nuget.props
*.nuget.targets
packages/

# Ignorar arquivos de compilação do Visual Studio
*.obj
*.dll
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.plist
*.userprefs
*.xcuserstate
*.xcworkspace
*.xccheckout
*.moved-aside
*.xcuserstate
*.linq
*.mdf
*.ldf
